                                                                                                *,
                                                                                                *::after,
                                                                                                *::before {
                                                                                                    margin: 0;
                                                                                                    padding: 0;
                                                                                                    box-sizing: border-box;
                                                                                                    overflow-x: hidden;
                                                                                                }
                                                                                                /*   
                                                                                                background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
                                                                                                -webkit-background-clip: text;
                                                                                                -webkit-text-fill-color: transparent;
                                                                                                */
                                                                                                
                                                                                                a {
                                                                                                    text-decoration: none;
                                                                                                    color: #1F1F1F;
                                                                                                }
                                                                                                
                                                                                                html,
                                                                                                input,
                                                                                                button {
                                                                                                    font-family: 'Gilroy';
                                                                                                }
                                                                                                
                                                                                                .layout {
                                                                                                    position: fixed;
                                                                                                    height: 100vh;
                                                                                                    width: 100vw;
                                                                                                    background-color: rgba(0, 0, 0, 0.501);
                                                                                                    max-width: 100%;
                                                                                                    border: hidden;
                                                                                                }
                                                                                                
                                                                                                .layout-style {
                                                                                                    width: 100vw;
                                                                                                    height: 464px;
                                                                                                    background-color: #ffffff;
                                                                                                    max-height: max-content;
                                                                                                }
                                                                                                
                                                                                                .layout-header {
                                                                                                    height: 92px;
                                                                                                    display: flex;
                                                                                                    justify-content: space-between;
                                                                                                    align-items: center;
                                                                                                }
                                                                                                
                                                                                                .layout-header h3 {
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 20px;
                                                                                                    line-height: 28px;
                                                                                                    margin: 20px 20px 20px 80px;
                                                                                                }
                                                                                                
                                                                                                .layout-header input {
                                                                                                    width: 661px;
                                                                                                    height: 52px;
                                                                                                    background: #F2F2F2;
                                                                                                    border-radius: 50px;
                                                                                                    border: hidden;
                                                                                                    padding: 0px 0px 0px 60px;
                                                                                                    margin: 0px 0px 0px 60px;
                                                                                                    background-image: url("/img/search_header.svg");
                                                                                                    background-repeat: no-repeat;
                                                                                                    background-position: 20px 16px;
                                                                                                    font-style: normal;
                                                                                                    font-weight: 500;
                                                                                                    font-size: 18px;
                                                                                                    line-height: 28px;
                                                                                                    color: #969696;
                                                                                                }
                                                                                                
                                                                                                .layout-header input:focus {
                                                                                                    box-shadow: 0 0 0 0;
                                                                                                    outline: 0;
                                                                                                }
                                                                                                
                                                                                                .layout-header button {
                                                                                                    width: 52px;
                                                                                                    height: 52px;
                                                                                                    background: #F2F2F2;
                                                                                                    border-radius: 50px;
                                                                                                    border: hidden;
                                                                                                    margin: 20px 70px 20px 20px;
                                                                                                }
                                                                                                
                                                                                                .layout-header button:hover {
                                                                                                    background: #D2D2D2;
                                                                                                    transition: .5s;
                                                                                                }
                                                                                                
                                                                                                .layout-main {
                                                                                                    margin: 28px 0px 0px 420px;
                                                                                                }
                                                                                                
                                                                                                .layout-main h4 {
                                                                                                    font-style: normal;
                                                                                                    font-weight: 500;
                                                                                                    font-size: 20px;
                                                                                                    line-height: 28px;
                                                                                                    color: #969696;
                                                                                                }
                                                                                                
                                                                                                .layout-main ul {
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 40px;
                                                                                                    color: #1F1F1F;
                                                                                                    margin: 10px 0px 0px 0px;
                                                                                                }
                                                                                                
                                                                                                .layout-main li {
                                                                                                    margin: 15px 0px 0px 0px;
                                                                                                }
                                                                                                
                                                                                                .header {
                                                                                                    display: flex;
                                                                                                    width: 100vw;
                                                                                                    height: 92px;
                                                                                                    justify-content: space-between;
                                                                                                    align-items: center;
                                                                                                }
                                                                                                
                                                                                                .header h3 {
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 20px;
                                                                                                    line-height: 28px;
                                                                                                    margin: 20px 20px 20px 80px;
                                                                                                }
                                                                                                
                                                                                                .header ul {
                                                                                                    display: flex;
                                                                                                    margin: 0px 0px 0px 200px;
                                                                                                }
                                                                                                
                                                                                                .header li {
                                                                                                    margin: 0px 0px 0px 32px;
                                                                                                    cursor: pointer;
                                                                                                }
                                                                                                
                                                                                                .header input {
                                                                                                    height: 52px;
                                                                                                    background: #F2F2F2;
                                                                                                    border-radius: 50px;
                                                                                                    border: hidden;
                                                                                                    padding: 0px 0px 0px 60px;
                                                                                                    margin: 0px 0px 0px 20px;
                                                                                                    background-image: url("/img/search_header.svg");
                                                                                                    background-repeat: no-repeat;
                                                                                                    background-position: 20px 16px;
                                                                                                    font-style: normal;
                                                                                                    font-weight: 500;
                                                                                                    font-size: 18px;
                                                                                                    line-height: 28px;
                                                                                                    color: #969696;
                                                                                                }
                                                                                                
                                                                                                .header input:focus {
                                                                                                    box-shadow: 0 0 0 0;
                                                                                                    outline: 0;
                                                                                                }
                                                                                                
                                                                                                .header button {
                                                                                                    width: 52px;
                                                                                                    height: 52px;
                                                                                                    background: #F2F2F2;
                                                                                                    border-radius: 50px;
                                                                                                    border: hidden;
                                                                                                    margin: 20px 70px 20px 20px;
                                                                                                    cursor: pointer;
                                                                                                }
                                                                                                
                                                                                                .header button:hover {
                                                                                                    background: #D2D2D2;
                                                                                                    transition: .5s;
                                                                                                }
                                                                                                
                                                                                                .section_main {
                                                                                                    display: flex;
                                                                                                    margin: 80px 20px 262px 80px;
                                                                                                }
                                                                                                
                                                                                                .section_main h1 {
                                                                                                    width: 621px;
                                                                                                    height: 208px;
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 96px;
                                                                                                    line-height: 94px;
                                                                                                    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
                                                                                                    -webkit-background-clip: text;
                                                                                                    -webkit-text-fill-color: transparent;
                                                                                                }
                                                                                                
                                                                                                .section_main p {
                                                                                                    margin: 20px 0px 0px 0px;
                                                                                                    font-style: normal;
                                                                                                    font-weight: normal;
                                                                                                    font-size: 20px;
                                                                                                    line-height: 28px;
                                                                                                }
                                                                                                
                                                                                                .section_main button {
                                                                                                    width: 336px;
                                                                                                    height: 74px;
                                                                                                    margin: 106px 0px 0px 0px;
                                                                                                    border: 2px solid #1F1F1F;
                                                                                                    box-sizing: border-box;
                                                                                                    border-radius: 12px;
                                                                                                    background: #ffffff;
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 18px;
                                                                                                    line-height: 28px;
                                                                                                    background-image: url('/img/plus_icon.svg');
                                                                                                    background-position: 270px 25px;
                                                                                                    background-repeat: no-repeat;
                                                                                                    padding: 0px 40px 0px 0px;
                                                                                                }
                                                                                                
                                                                                                .section_main button:hover {
                                                                                                    background: #D2D2D2;
                                                                                                    transition: .5s;
                                                                                                    background-image: url('/img/plus_icon.svg');
                                                                                                    background-position: 270px 25px;
                                                                                                    background-repeat: no-repeat;
                                                                                                }
                                                                                                
                                                                                                .section_main img {
                                                                                                    width: 80%;
                                                                                                    height: 80%;
                                                                                                }
                                                                                                
                                                                                                .aside_main {
                                                                                                    overflow: hidden;
                                                                                                    background: #F3F3F3;
                                                                                                    border-radius: 8px;
                                                                                                    margin: 0px 80px 200px 80px;
                                                                                                    height: 767px;
                                                                                                    align-items: center;
                                                                                                    text-align: center;
                                                                                                    padding: 64px 368px 64px 368px;
                                                                                                }
                                                                                                
                                                                                                .aside_main h3 {
                                                                                                    font-size: 40px;
                                                                                                    line-height: 48px;
                                                                                                    color: #1F1F1F;
                                                                                                }
                                                                                                
                                                                                                .aside_main ul {
                                                                                                    display: flex;
                                                                                                    margin: 64px 0px 32px 126px;
                                                                                                }
                                                                                                
                                                                                                .aside_main li {
                                                                                                    width: 32px;
                                                                                                    height: 32px;
                                                                                                    margin: 0px 20px 0px 0px;
                                                                                                }
                                                                                                
                                                                                                .branco {
                                                                                                    background: linear-gradient(270.06deg, #E4E4E4 20.97%, #FFFFFF 99.92%);
                                                                                                    border: 2px solid #FFFFFF;
                                                                                                    border-radius: 40px;
                                                                                                    cursor: pointer;
                                                                                                }
                                                                                                
                                                                                                .branco:hover {
                                                                                                    background: #D2D2D2;
                                                                                                    transition: 1s;
                                                                                                    border: 2px solid rgba(31, 31, 31, 0.5);
                                                                                                }
                                                                                                
                                                                                                .natural {
                                                                                                    background: linear-gradient(277.74deg, #FFE08D 9.16%, #FFB757 91.03%);
                                                                                                    opacity: 0.5;
                                                                                                    border: 2px solid #FFFFFF;
                                                                                                    border-radius: 40px;
                                                                                                    cursor: pointer;
                                                                                                }
                                                                                                
                                                                                                .natural:hover {
                                                                                                    background: #d2d2d2;
                                                                                                    transition: 1s;
                                                                                                    border: 2px solid rgba(31, 31, 31, 0.5);
                                                                                                }
                                                                                                
                                                                                                .pretoebranco {
                                                                                                    background: linear-gradient(270.06deg, #464646 20.97%, #D3D3D3 99.92%);
                                                                                                    opacity: 0.5;
                                                                                                    border: 2px solid #FFFFFF;
                                                                                                    border-radius: 40px;
                                                                                                    cursor: pointer;
                                                                                                }
                                                                                                
                                                                                                .pretoebranco:hover {
                                                                                                    background: #d2d2d2;
                                                                                                    transition: 1s;
                                                                                                    border: 2px solid rgba(31, 31, 31, 0.5);
                                                                                                }
                                                                                                
                                                                                                .preto {
                                                                                                    background: linear-gradient(270.06deg, #232323 20.97%, #000000 99.92%);
                                                                                                    opacity: 0.5;
                                                                                                    border: 2px solid #FFFFFF;
                                                                                                    border-radius: 40px;
                                                                                                    cursor: pointer;
                                                                                                }
                                                                                                
                                                                                                .preto:hover {
                                                                                                    background: #d2d2d2;
                                                                                                    transition: 1s;
                                                                                                    border: 2px solid rgba(31, 31, 31, 0.5);
                                                                                                }
                                                                                                
                                                                                                .aside_main img {
                                                                                                    margin: 0px 0px 45.82px 0px;
                                                                                                }
                                                                                                
                                                                                                .aside_main p {
                                                                                                    font-size: 20px;
                                                                                                    line-height: 28px;
                                                                                                    color: #1F1F1F;
                                                                                                    margin: 0px 0px 64px 0px;
                                                                                                }
                                                                                                
                                                                                                .aside_main button {
                                                                                                    width: 336px;
                                                                                                    height: 84px;
                                                                                                    border: 2px solid #1F1F1F;
                                                                                                    box-sizing: border-box;
                                                                                                    border-radius: 12px;
                                                                                                    font-size: 20px;
                                                                                                    line-height: 28px;
                                                                                                    color: #1F1F1F;
                                                                                                }
                                                                                                
                                                                                                .aside_main button:hover {
                                                                                                    background: #D2D2D2;
                                                                                                    transition: .5s;
                                                                                                    cursor: pointer;
                                                                                                }
                                                                                                
                                                                                                .aside_midle {
                                                                                                    display: flex;
                                                                                                    margin: 0px 80px 160px 80px;
                                                                                                    justify-content: space-between;
                                                                                                }
                                                                                                
                                                                                                .aside_midle img {
                                                                                                    width: 50%;
                                                                                                    height: 44%;
                                                                                                }
                                                                                                
                                                                                                .aside_midle h2 {
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 54px;
                                                                                                    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
                                                                                                    -webkit-background-clip: text;
                                                                                                    -webkit-text-fill-color: transparent;
                                                                                                    margin: 10px 0px 46px 0px;
                                                                                                }
                                                                                                
                                                                                                .aside_midle p {
                                                                                                    font-style: normal;
                                                                                                    font-weight: normal;
                                                                                                    font-size: 18px;
                                                                                                    line-height: 24px;
                                                                                                    color: #1F1F1F;
                                                                                                }
                                                                                                
                                                                                                .aside_mid {
                                                                                                    display: flex;
                                                                                                    flex-direction: row-reverse;
                                                                                                    margin: 0px 80px 140px 80px;
                                                                                                    justify-content: space-between;
                                                                                                }
                                                                                                
                                                                                                .amortecimento {
                                                                                                    width: 374px;
                                                                                                    height: 480px;
                                                                                                }
                                                                                                
                                                                                                .imediato {
                                                                                                    width: 202px;
                                                                                                    height: 480px;
                                                                                                }
                                                                                                
                                                                                                .aside_mid h2 {
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 54px;
                                                                                                    line-height: 54px;
                                                                                                    overflow: hidden;
                                                                                                    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
                                                                                                    -webkit-background-clip: text;
                                                                                                    -webkit-text-fill-color: transparent;
                                                                                                    margin: 10px 0px 18px 0px;
                                                                                                }
                                                                                                
                                                                                                .aside_mid p {
                                                                                                    font-style: normal;
                                                                                                    font-weight: normal;
                                                                                                    font-size: 18px;
                                                                                                    line-height: 24px;
                                                                                                    color: #1F1F1F;
                                                                                                }
                                                                                                
                                                                                                .aside_main_final {
                                                                                                    display: flex;
                                                                                                    margin: 0px 80px 200px 80px;
                                                                                                    justify-content: space-between;
                                                                                                }
                                                                                                
                                                                                                .aside_main_final img {
                                                                                                    width: 50%;
                                                                                                    height: 44%;
                                                                                                }
                                                                                                
                                                                                                .aside_main_final h2 {
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 54px;
                                                                                                    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
                                                                                                    -webkit-background-clip: text;
                                                                                                    -webkit-text-fill-color: transparent;
                                                                                                    margin: 10px 0px 18px 0px;
                                                                                                }
                                                                                                
                                                                                                .aside_main_final p {
                                                                                                    font-style: normal;
                                                                                                    font-weight: normal;
                                                                                                    font-size: 18px;
                                                                                                    line-height: 24px;
                                                                                                    color: #1F1F1F;
                                                                                                }
                                                                                                
                                                                                                .run {
                                                                                                    background-image: url('/img/corra.jpg');
                                                                                                    height: 720px;
                                                                                                    width: 100%;
                                                                                                    background-repeat: no-repeat;
                                                                                                    background-size: contain;
                                                                                                }
                                                                                                
                                                                                                .run img {
                                                                                                    width: 35px;
                                                                                                    height: 36px;
                                                                                                    margin: 0px 0px 15px 0px;
                                                                                                }
                                                                                                
                                                                                                .run h2 {
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 88px;
                                                                                                    line-height: 88px;
                                                                                                    color: #FFFFFF;
                                                                                                    letter-spacing: -0.02em;
                                                                                                    margin: 16px 0px 0px 18px;
                                                                                                    overflow: hidden;
                                                                                                }
                                                                                                
                                                                                                .form {
                                                                                                    display: flex;
                                                                                                    margin: 0px 80px 160px 80px;
                                                                                                }
                                                                                                
                                                                                                .form form {
                                                                                                    width: 613px;
                                                                                                    background: #F3F3F3;
                                                                                                    border-radius: 0px 8px 8px 0px;
                                                                                                    padding: 40px 0px 0px 32px;
                                                                                                }
                                                                                                
                                                                                                .form h2 {
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 35px;
                                                                                                    line-height: 48px;
                                                                                                    color: #1F1F1F;
                                                                                                    margin: 0px 0px 30px 0px;
                                                                                                }
                                                                                                
                                                                                                .input {
                                                                                                    width: 432px;
                                                                                                    height: 66px;
                                                                                                    display: grid;
                                                                                                    margin: 0px 0px 18px 0px;
                                                                                                    background: #FFFFFF;
                                                                                                    border-radius: 12px;
                                                                                                    border: transparent;
                                                                                                    padding: 0px 0px 0px 24px;
                                                                                                    font-size: 17px;
                                                                                                }
                                                                                                
                                                                                                .input:hover {
                                                                                                    background: #F3F3F3;
                                                                                                    transition: 1s;
                                                                                                }
                                                                                                
                                                                                                .form label {
                                                                                                    display: flex;
                                                                                                }
                                                                                                
                                                                                                .form textarea {
                                                                                                    width: 432px;
                                                                                                    height: 220px;
                                                                                                    background: #FFFFFF;
                                                                                                    border-radius: 12px;
                                                                                                    border: transparent;
                                                                                                    padding: 20px 0px 0px 24px;
                                                                                                    margin: 0px 0px 44px 0px;
                                                                                                    font-family: 'Gilroy';
                                                                                                    font-style: normal;
                                                                                                    font-weight: 500;
                                                                                                    font-size: 16px;
                                                                                                    line-height: 28px;
                                                                                                    color: #969696;
                                                                                                }
                                                                                                
                                                                                                .form textarea:hover {
                                                                                                    background: #F3F3F3;
                                                                                                    transition: 1s;
                                                                                                }
                                                                                                
                                                                                                .form label {
                                                                                                    font-style: normal;
                                                                                                    font-weight: normal;
                                                                                                    font-size: 18px;
                                                                                                    line-height: 28px;
                                                                                                    color: #969696;
                                                                                                    padding-left: 0px;
                                                                                                    cursor: pointer;
                                                                                                }
                                                                                                
                                                                                                .form button {
                                                                                                    width: 432px;
                                                                                                    height: 64px;
                                                                                                    border: 2px solid #1F1F1F;
                                                                                                    box-sizing: border-box;
                                                                                                    border-radius: 12px;
                                                                                                    font-size: 18px;
                                                                                                    line-height: 28px;
                                                                                                    font-weight: bold;
                                                                                                    margin: 20px 0px 0px 0px;
                                                                                                }
                                                                                                
                                                                                                .form button:hover {
                                                                                                    background: #F3F3F3;
                                                                                                    transition: .5s;
                                                                                                }
                                                                                                
                                                                                                #Politica {
                                                                                                    width: 18px;
                                                                                                    height: 18px;
                                                                                                    background: #FFFFFF;
                                                                                                    border: 2px solid #D2D2D2;
                                                                                                    box-sizing: border-box;
                                                                                                    border-radius: 4px;
                                                                                                    margin: 5px 12px 0px 0px;
                                                                                                }
                                                                                                
                                                                                                .footer {
                                                                                                    width: 100vw;
                                                                                                    height: 320px;
                                                                                                    display: flex;
                                                                                                    background: #F3F3F3;
                                                                                                }
                                                                                                
                                                                                                .footer h2 {
                                                                                                    font-family: 'Gilroy';
                                                                                                    font-style: normal;
                                                                                                    font-weight: bold;
                                                                                                    font-size: 22px;
                                                                                                    color: #0B1D03;
                                                                                                    margin: 70px 100px 0px 80px;
                                                                                                }
                                                                                                
                                                                                                .footer i {
                                                                                                    font-style: italic;
                                                                                                }
                                                                                                
                                                                                                .footer h4 {
                                                                                                    margin: 0px 0px 18px 0px;
                                                                                                    font-family: 'Gilroy';
                                                                                                    font-style: normal;
                                                                                                    font-weight: 500;
                                                                                                    font-size: 18px;
                                                                                                    color: #1F1F1F;
                                                                                                }
                                                                                                
                                                                                                .footer ul {
                                                                                                    width: 296px;
                                                                                                    margin: 70px 0px 0px 70px;
                                                                                                }
                                                                                                
                                                                                                .footer li {
                                                                                                    margin: 0px 0px 12px 0px;
                                                                                                    cursor: pointer;
                                                                                                    font-family: 'Gilroy';
                                                                                                    font-style: normal;
                                                                                                    font-weight: normal;
                                                                                                    font-size: 18px;
                                                                                                    line-height: 28px;
                                                                                                    display: flex;
                                                                                                    align-items: center;
                                                                                                    color: #1F1F1F;
                                                                                                }
                                                                                                
                                                                                                .footer h5 {
                                                                                                    margin: 70px 0px 0px 0px;
                                                                                                    font-family: 'Gilroy';
                                                                                                    font-style: normal;
                                                                                                    font-weight: 500;
                                                                                                    font-size: 18px;
                                                                                                    color: #1F1F1F;
                                                                                                }
                                                                                                
                                                                                                .footer img {
                                                                                                    margin: 16px 14px 0px 0px;
                                                                                                }
                                                                                                
                                                                                                .final {
                                                                                                    display: flex;
                                                                                                    background: #F3F3F3;
                                                                                                    height: 36px;
                                                                                                }
                                                                                                
                                                                                                .final h4 {
                                                                                                    font-family: 'Gilroy';
                                                                                                    font-style: normal;
                                                                                                    font-weight: 600;
                                                                                                    font-size: 18px;
                                                                                                    color: #1F1F1F;
                                                                                                    margin: 0 auto;
                                                                                                }
                                                                                                
                                                                                                .final img {
                                                                                                    margin: 4px 0px 0px 10px;
                                                                                                }